<div class="container mt-5">
  <h2 class="text-center mb-4">À propos du projet</h2>

  <div class="card shadow-sm p-4 mt-4 border-primary">
    <p>
      Ce projet Angular a été réalisé dans le cadre du module <b>angular</b>.
      Il a pour objectif de valoriser les sites archéologiques tunisiens à travers une application moderne et interactive.
    </p>

    <p>
      <b>Étudiant :</b> Huimli Noussair <br>
      <b>Classe :</b> 2ème année DSI 21 <br>
      <b>Encadrante :</b> Mme Amel Triki
    </p>
  </div>


</div>
